# Core data & ML stack
pandas==2.3.1
numpy==1.26.4
scikit-learn==1.7.1
joblib==1.5.1

# QR-code & image generation
qrcode==8.2
pillow==11.3.0

# Dashboard & charts
streamlit==1.48.1
altair==5.5.0

# Optional but handy for pandas datetimes
pytz==2025.2
streamlit-authenticator==0.4.2
